<div data-uri="{{ default _ref _self }}" class="{{ componentVariation }}" data-editable="settings">
    <h1 class="title">More to explore</h1>
    <ul>
        {}
        <li>
            <a href="{{ articleRef }}">
                <img class="explore-image" src="{{ imageUrl }}">
            </a>
            <a href="{{ articleRef }}">
                <span class="explore-title">{{ title }}</span>
            </a>
            <span class="explore-author">{{ author }}</span>
        </li>
    </ul>
</div>