<div data-uri="{{ default _ref _self }}" class="{{ componentVariation }}" data-editable="settings">
    <section class="advertisement-space">
        <a class="adImage" href=" {{ imageUrl }} "></a><img class="{{componentVariation}} sideImage" src=" {{ imageSrc }} " data-src=" {{ imageSrc }} "></a>
    </section>
</div>