<header data-uri="{{ default _ref _self }}" class="{{componentVariation}} " data-editable="settings">
    <a href="" class="logo">Aida is the best</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="magazine-menu">
        <li class="magazine-menu-item">
            <a class="magazine-site" target="_blank" href="{{ intelligencer }}">intelligencer</a>
        </li>
        <li class="magazine-menu-item">
            <a class="magazine-site" target="_blank" href="{{ theCut }}">the cut</a>
        </li>
        <li class="magazine-menu-item">
            <a class="magazine-site" target="_blank" href="{{ vulture }}">vulture</a>
        </li>
        <li class="magazine-menu-item">
            <a class="magazine-site" target="_blank" href="{{ grubStreet }}">grub street</a>
        </li>
        <li class="magazine-menu-item">
            <a class="magazine-site" target="_blank" href="{{ theStrategist }}">the strategist</a>
        </li>
        <li class="magazine-menu-item">
            <a class="magazine-site" target="_blank" href="{{ theMagazine }}">the magazine</a>
        </li>
    </ul>
</header>